In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree

In [ ]:
data = pd.read_csv('wiine.csv')

In [ ]:
data.head(5)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
y = data.quality
X = data.drop('quality', axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
print ("\nX_train:\n")
print(X_train.head())
print (X_train.shape)

X_train:

      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
207             7.8              0.57         0.31  ...  3.29       0.53     9.30
1079            7.9              0.30         0.68  ...  3.01       0.51    12.30
1521            6.9              0.48         0.20  ...  3.39       0.43     9.05
149             8.2              0.40         0.44  ...  3.53       0.61    10.50
454             7.0              0.23         0.40  ...  3.50       0.63    11.10

[5 rows x 11 columns]
(1279, 11)

In [ ]:
X_train_scaled = preprocessing.scale(X_train)
print("\nAfter preprocessing: \n")
print (X_train_scaled)
print (X_train_scaled.shape)

After preprocessing:

[[-0.29640496  0.2213428   0.21084978 ... -0.15390223 -0.77442105
  -1.0552238 ]
 [-0.23974647 -1.27579378  2.10170517 ... -1.93411753 -0.89461818
   1.73959027]
 [-0.80633135 -0.27770273 -0.35129642 ...  0.48188895 -1.37540674
  -1.28812498]
 ...
 [ 2.7631534  -0.38860173  1.28403797 ... -1.36190547 -0.59412534
  -1.33470521]
 [-0.80633135  0.2213428  -1.37338042 ...  0.60904719 -0.83451962
   0.34218323]
 [-0.40972194  0.83128733 -1.27117202 ... -0.91685164  2.53100026
  -1.14838427]]
(1279, 11)

In [ ]:
clf=tree.DecisionTreeClassifier()

clf.fit(X_train, y_train)


confidence = clf.score(X_test, y_test)
print("\nThe confidence score:\n")
print(confidence)

The confidence score:

0.6125

In [ ]:
y_pred = clf.predict(X_test)
print("\nThe prediction:\n")
print(y_pred)
print("\nThe expectation:\n")
print(y_test)
x=np.array(y_pred).tolist()
print("\nThe prediction:\n")
for i in range(0,5):
    print (x[i])
    
print("\nThe expectation:\n")
print (y_test.head())

The prediction:

[5 7 6 5 7 7 6 5 5 5 6 5 5 7 6 6 5 6 5 7 5 6 6 5 5 6 5 6 6 5 7 6 5 7 5 5 6
 6 6 7 4 4 5 6 5 5 5 5 6 6 7 5 5 5 5 5 4 6 7 5 7 5 6 6 7 5 5 5 7 7 6 5 6 6
 7 5 6 6 5 5 6 5 6 6 5 6 6 5 5 5 5 8 5 5 7 6 6 5 5 6 6 5 6 5 5 7 5 5 5 5 6
 5 6 5 5 7 7 7 5 6 5 5 4 5 7 5 6 6 6 7 6 6 7 5 4 6 5 6 7 7 5 6 5 5 6 5 6 5
 5 5 5 4 6 5 6 6 6 5 6 7 7 5 5 6 5 6 5 6 7 5 5 6 6 5 5 6 6 5 6 7 5 7 6 6 6
 7 5 5 7 5 5 5 6 5 5 5 5 5 6 6 5 5 6 5 7 7 5 5 6 6 6 6 6 6 5 5 6 6 6 7 5 6
 5 6 7 7 4 5 6 6 6 5 6 5 6 5 5 7 5 6 6 7 6 6 6 5 5 5 6 5 6 5 6 5 5 6 5 6 5
 5 5 5 6 6 4 7 5 6 6 6 4 7 5 6 6 5 5 5 7 5 5 6 6 6 7 6 6 6 6 6 6 6 7 5 6 6
 5 5 4 5 5 6 7 5 5 5 6 6 5 5 6 6 5 5 5 5 6 6 5 6]

The expectation:

880     5
814     6
1250    6
1442    5
1311    6
       ..
1419    5
46      5
271     6
250     6
816     6
Name: quality, Length: 320, dtype: int64

The prediction:

5
7
6
5
7

The expectation:

880     5
814     6
1250    6
1442    5
1311    6
Name: quality, dtype: int64